<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.example.sashay-daily</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/sashay.py</string>
		<string>-s</string>
		<string>'Daily'</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>6</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
</dict>
</plist>